# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment files
.env
.venv/
env/
venv/
*.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# AWS credentials (if any)
*.pem
*.key

# Others
*.bak
*.swp

